.links{
    background-color: #ffd23d;
    /* position: absolute;
    right: 30px; */
    color: rgb(0, 0, 0);
}

.links select{
    background-color: #ffdd6f;
    position:relative;
    right: 0px
    
} 